.employees-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.employee-card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.employee-card:hover {
  transform: translateY(-5px);
}

.card-content {
  background-color: #007BFF;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.employee-image, .modal-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.info-button, .close-button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.info-button:hover, .close-button:hover {
  background-color: #218838;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.expertise {
  font-style: italic;
  color: #6c757d;
}
